<main>
  <%= render partial: 'shared/user_card', locals: {user: @user} %>
  <article>
    <p>Bio: <%= @user.bio %></p>
<div class="post-user">
    <small><%= @user.name %>'s posts </small>
  <% @user.posts.each do |post| %>

    <%= link_to user_posts_path(@user) do %>
      <h2 class="post-title"><%= post.title %></h2>
    <% end %>
    <p><%= post.text %></p>

    <div class="comment-card">
      <% post.comments.each do |comment| %>
        <!-- Display comments here -->
      <% end %>
    </div>
    </div>
    </article>
  <% end %>
</main>
