<div class="post" id="post-card-<%=post.id%>">
<h2> <%= post.title %> #<%= post.id %> </h2>
<p> <%= post.text.slice(0,150).concat('...') %> </p>
<small>Comments: <%= post.comments_counter %></small>

</div>
