<h1>List of Posts for <%= @user.name %></h1>
<p>Posts: <%= @user.posts_counter %></p>

<% @posts.each do |post| %>
  <section>
   <h2><%= link_to post.title, user_post_path(@user, post) %></h2>
    <p><%= post.text %></p>

    <h3>Comments:</h3>
    <ul>
      <% post.comments.each do |comment| %>
        <li><%= comment.text %></li>
      <% end %>
    </ul>
  </section>
<% end %>
